*
{
    margin: 0;
    padding: 0;
    border: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}



html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#start-layout
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-container{
    position: relative;
    width: 98%;
    height: 80%;
    cursor: default;
    background: whitesmoke;
}

#start-contents{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#start-contents > #start-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-contents > #start-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#description{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    cursor: default;
    backdrop-filter: blur(3px);
}

#desc-container{
    position: relative;
    width: 90%;
    height: 60%;
    cursor: default;
}

#desc-contents{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
}

#desc-contents > #desc-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#desc-contents > #desc-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#content-image{
    width: 400%;
    height: 400%;
    object-position: center;
}

#desc-close{
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1005;
}

#loading-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-layer > #loading-container{
    width: 30vmin;
    height: 30vmin;
    display: block;
    position: relative;
}

#loading-circle{
    width: 100%;
    height: 100%;
    background-image: url(./assets/loading.svg);
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 3s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#loading-text{
    width: 100%;
    height: 100%;
    background-image: url(./assets/loading-text.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}